@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    padding: 0px;
    margin: 0px;
    font-family: poppins;
    background-color: #ffffff;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
    z-index: 100;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0px 45px;
}


/* .social call {
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

.social a {
    margin: 0px 5px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.9rem;
}

.phone {
    color: rgba(0, 0, 0, 0.7);
    margin-left: 30px;
    font-size: 0.9rem;
}

.social a:hover {
    color: e02525;
    transition: all ease 0.3s;
} */

.logo img {
    height: 40px;
}

p {
    color: #bd0303;
    margin-top: 5px;
    font-size: 0.5rem;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 5px;
}

.menu ul {
    list-style: none;
}

.menu {
    display: flex;
}

.menu li {
    position: relative;
    margin: 20px;
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
}

.menu li a {
    color: #bd0303;
}

.right-menu a {
    margin: 0px 10px;
    font-size: 1.2rem;
    color: rgba(194, 6, 6, 0.7);
}

.menu a:hover,
.right-menu a:hover,
.search-cancel:hover,
.form-cancel:hover{
    color: #e04d4d;
    transition: all ease 0.3s;
}

.sale-label {
    width: 38px;
    height: 17px;
    background-color: #f76b6a;
    color: #ffffff;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    right: -20px;
}

.sale-label::after {
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: 5px solid transparent;
    border-left: 3px solid transparent;
    border-top: 7px solid #f76b6a;
    border-right: 5px solid transparent;
    position: absolute;
    left: 10%;
    top: 100%;
}

.fa-shopping-cart {
    position: relative;
}

.num-cart {
    position: absolute;
    top: -17px;
    right: -17px;
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: f76b6a;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.search-bar {
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    box-shadow: 2px -5px 30px rgba(0, 0, 0, 0.1);
    z-index: 101;
    animation: search 0.3s;
}

.search-input {
    width: 90%;
    border-bottom: 2px solid #555555;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
}

.search-bar input {
    width: 100%;
    padding: 30px;
    border: none;
    outline: none;
    font-size: 2rem;
    margin: 20px;
    padding: 0px 20px;
}

.search-cancel {
    color: #272727;
    font-size: 2rem;
    padding-right: 40px;
}

.search-bar {
    display: none;
}

.search-bar-active {
    display: flex;
}

@keyframes search{
    0%{
        bottom: -300px;
    }
    100%{
        bottom: 0px;
    }
}

.form{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 102;
}

.login-form,
.sign-up-form{
    width: 420px;
    padding: 20px 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
}

.login-form form,
.sign-up-form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.login-form strong,
.sign-up-form strong{
    color: #272727;
    font-size: 2rem;
    margin: 2px 7px 7px 7px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.login-form input,
.sign-up-form input{
    width: 90%;
    height: 45px;
    margin: 6px 0px;
    padding: 0px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: 7px;
}

.login-form input::placeholder,
.sign-up-form input::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

.login-form input[type="submit"],
.sign-up-form input[type="submit"]{
    background-color: #cfbebe;
    color: #ffffff;
    border: none;
    outline: none;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.form-btns{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.form-btns a{
    color: #4d4d4d;
    font-size: 0.9rem;
}

.sign-up-btn{
    border-bottom: 1px solid#868686;
    line-height: 16px;
}

.form-cancel{
    position: absolute;
    right: 20px;
    top: 10px;
    color: #868686;
}

.login-form,
.sign-up-form,
.form{
    display: none;
}

.login-active,
.login-active .login-form{
    display: flex;
    animation: fade 0.3s;
}

.sign-up-active,
.sign-up-active .sign-up-form{
    display: flex;
    animation: fade 0.3s;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.full-slider-box,
.banner-box{
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.f-slide-1{
    background-image: url(../images/slider1.jpg);
}

.f-slide-3{
    background-image: url(../images/slider2.png);
}


.slider-text-container{
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
}

.f-slider-text,
.banner-text{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.f-slider-text strong,
.banner-box strong{
    color: #333333;
    font-size: 2.5rem;
    line-height: 55px;
    margin-top: 10px;
    letter-spacing: 1px;
}

.f-slider-text span,
.banner-box span{
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 500;
    color: #666666;
    font-size: 1.2rem;
}

.f-slider-btn,
.banner-btn{
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #c20606;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 14px;
}

.f-slider-text strong font{
    color: #c20606;
}

.feature-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-heading h2{ 
    font-size: 1.1rem;
    color: #c20606;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 50px;
    padding: 5px 30px;
    border: 1px solid #e0e0e0;
} 

.feature-box{
    width: 155px;
    height: 250px;
    margin: 20px 20px;
    border-radius: 5px;
    overflow: hidden;
}

.feature-box a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.item span,
.item-basic span{
    font-size: 1rem;
    font-weight: 600;
    margin: 10px;
    color: #c20606;
    font-family: poppins;
}

.item p,
.item-basic p{
    color: #272727;
    margin: 0px;
    font-weight: 100;
    font-size: 0.7rem;
}

.item h3,
.item-basic h3{
    color: #c20606;
    font-size: 0.7rem;
    font-family: poppins;
}

.item,
.item-basic{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#autoWidth ul,
#basic ul{
    list-style: none;
}

#autoWidth,
#basic{
    display: flex;
}

.shop-all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shop-all a{
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #c20606;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
}

.shop-all p,
.basic-box p{
    font-size: 1.3rem;
    font-family: poppins;
    color: #c20606;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 50px;
    padding: 5px 30px;
    border: 1px solid #e0e0e0;
}

.basic-box{
    width: 155px;
    height: 300px;
    margin: 30px 20px;
    border-radius: 5px;
    overflow: hidden;
}

.basic-box a  img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product-container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product-box{
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f7f7f7;
    margin: 20px;
}

.product-img{
    width: 200px;
    height: 210px;
    margin: 20px;
    cursor: pointer;
    position: relative;
}

.product-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid #f3f3f3;
}

.p-price{
    color: #c20606;
}

.p-name{
    color: #272727;
    font-size: 1.2rem;
    font-weight: 400;
}

.product-box:hover{
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.07);
}

.add-cart{
    position: absolute;
    right: -20px;
    top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #c20606;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    display: none;
    animation: fade 0.3s;
}

.add-cart:hover{
    background-color: #f76b6a;
    transition: all ease 0.3s;
}

.product-box:hover .add-cart{
    display: flex;
}

.sale{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
}

.sale-box{
    width: 280px;
    border-radius: 20px;
    margin: 20px;
    position: relative;
    flex-grow: 0.5;
}

.sale-box img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center right;
}

.sale-text{
    position: absolute;
    left: 13%;
    top: 50%;
    transform: translate(-20%, -50%);
    display: flex;
    flex-direction: column;
}

.sale-box a{
    color: #1b1b1b;
}

.sale-text strong{
    font-size: 1.2rem;
    font-weight: 500;
    width: 80%;
    line-height: 23px;

}

.service{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.service-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    min-width: 250px;
    padding: 20px;
    margin: 15px;
    flex-grow: 0.7;
}

.service-box i{
    color: #c20606;
    font-size: 2rem;
    margin: 15px;
}

.service-box span{
    color: #222222;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 1rem;
}

.service-box p{
    color: #878787;
    margin: 0px;
    font-size: 0.9rem;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    margin-top: 20px;
}

.copyright{
    font-size: 0.9rem;
    color: #4e4e4e;
    letter-spacing: 1px;
}

.fix-nav{
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
    z-index: 102;
}
